* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: black;
}

a {
    text-decoration:none;
     color: #fff
}
.wrapper {
    width: 100%;
    margin: 50px auto 0;
}

.wrapper p {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

h1, h2 {
    text-align: center;
    margin: 0;
    color: black;
    padding-bottom: 15px;
}

nav {
    height: 40px;
    background-color: #000;
    color:antiquewhite;
}

.nav-links {
    text-decoration: none;
    text-align: center;
    margin: 15px auto;
    color:black;
    font-family:sans-serif;
    font-weight: bold;
}

.nav-links a {
  color: black;
  margin: 15px;
  padding: 15px 0;
  vertical-align: middle;
}


header {
    background-color: #000;
 }


h1, h2, h3 {
    color:antiquewhite;
}

.about-jon {
    width: 720px;
    height: auto;
    margin: 20px auto;
}

.about-jon h3 {
    text-align: center;
}

.about-jon p {
    color:antiquewhite;
}

#headshot_row1 {
    margin: 0;
    float: none;
    margin-top: auto;
}
#slider {
    width: 720px;
    height: 400px;
    overflow:hidden;
    margin:auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.gallery1 {
    margin: 75px;
    font-size: 0;
}

.gallery1 img {
    height: 435px;
    width: 350px;
    margin: 0 50px 50px;
}