* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background-color: black;
}

a {
    text-decoration:none;
     color: #fff
}

/* only if keeping footer
.wrapper {
    width: 100%;
    margin: 50px auto 20px;

}

.wrapper p {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}*/

h1, h2 {
    text-align: center;
    margin: 0;
    color: black;
    padding-bottom: 15px;
}

nav {
    height: 40px;
    background-color: #000;
    color:antiquewhite;
}

.nav-links {
    text-decoration: none;
    text-align: center;
    margin: 15px auto;
    color:black;
    font-family:sans-serif;
    font-weight: bold;
}

.nav-links a {
  color: black;
  margin: 15px;
  padding: 15px 0;
  vertical-align: middle;
}


header {
    background-color: #000;
 }


h1, h2, h3 {
    color: white;
    font-family: 'Acme', sans-serif;
}

.about-jon {
    width: 720px;
    height: auto;
    margin: 20px auto;
}

.about-jon h3 {
    text-align: center;
}

.about-jon p {
    color:antiquewhite;
}

#slider {
    width: 720px;
    height: 400px;
    overflow:hidden;
    margin:auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

.gallery1 {
    margin: 75px;
    font-size: 0;
}

.gallery1 img {
    height: 435px;
    width: 350px;
    margin: 0 50px 50px;
}

/* CONTACT STYLES */

.main-contact {
    margin: 0 auto;
    padding: 0 50px;
    width: 720px;
    max-height: 435px;
}

.main-contact img {
    height: 435px;
    width: 350px;
}

.agency {
    position: relative;
    left: 400px;
    bottom: 300px;
    vertical-align: middle;
    color: white;
}

.social {
    margin: 0 auto;
    padding: 0 50px;
    width: 720px;
}

.social h3 {
    text-align: center;
}

.icon-btn {
    display: inline-block;
    margin: 10px 15px;
    text-align: center;
}